:root{
    --first-color: white;
    --second-color: black;

    --bg-color-body: var(--first-color);
    --text-color-body: var(--second-color);
    --bg-color-button: var(--first-color);
    --border-color-button: var(--second-color);
    --border-color-card: var(--second-color);
}

[data-theme="dark"]{
    --first-color: #141414;
    --second-color: #f1f1f1;

    --bg-color-body: var(--first-color);
    --text-color-body: var(--second-color);
    --bg-color-button: var(--first-color);
    --border-color-button: var(--second-color);
    --border-color-card: var(--second-color);
}