html{
    height: 100%;
    min-height: 100%    
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    margin: 70px;
    min-height: 100%;
}

h2{
    padding-bottom: 20px;
}

.formulario{
    font-weight: bold;
    padding-bottom: 15px;
}

footer{
    margin-top: auto;
}

.botao{
    background-color: #111111;
    color: #ffffff;
    border-radius: 5px;
    height: 35px;
    width: 80px;
    transition: transform 0.4s ease-in-out;
}

.botao:hover{
    transform: scale(1.1);
    box-shadow: 0 0 5px #111111;
}

.botao:focus{
    transform: scale(1.1);
}

.container{
    border: 3px solid black;
    padding: 25px;
}