html{
    height: 100%;
    min-height: 100%
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    margin: 70px;
    min-height: 100%;
}

footer {
    margin-top: auto;
}

.icon {
    width: 150px;
    height: 150px;
    margin-right: 10px;
}

.imagem-texto{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 50px;
}

.imagem-texto .texto{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.imagem-texto titulo{
    font-size: 30px;
    font-weight: bold;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #636363;
    text-decoration: underline;
}

@media (max-width: 320px) {
    body{
        margin: 30px;
    }
}

@media (max-width: 576px) {
    .icon{
        padding-bottom: 10px;
        margin-right: 0px;
    }

    .imagem-texto{
        flex-direction: column;
        align-items: center;
    }

    .imagem-texto .texto{
        margin-left: 0px;
        text-align: center;
    }

    .imagem-texto .texto titulo{
        font-size: 20px;
    }
    
    a{
        text-decoration: underline;
    }
}